<!-- BREAD CRUMBS -->
<div {% view "@_default" with {
	_default: {
		id: breadcrumbs.id,
		default_class: "breadcrumbs",
		class: breadcrumbs.class,
		params: breadcrumbs.params,
		params_custom: breadcrumbs.params_custom,
		data: breadcrumbs.data
	}
} %}>
	<div class="container">
		<ul class="breadcrumbs__list">
			{% for item in breadcrumbs.items %}
				{% if loop.last %}
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link">{{ item.text }}</a>
					</li>
				{% else %}
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link" href="{{ item.href|default('#') }}">{{ item.text }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>