/*==================== HEADER ====================*/
.header {
	position: relative;
	z-index: $z-index-header;
	padding: rem(30) 0;
	font-size: rem(20);
	background-color: var(--color-bg);
	border-bottom: 1px solid color('base', 0.3);
	transition-property: background-color, border-color;
	transition-duration: $duration;
	will-change:  background-color, border-color;

	&__row {
		flex-grow: 1;
		display: flex;
		align-items: center;

		> * {
			margin-right: rem(40);

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__logo {
		flex-shrink: 0;
		margin-right: pr(102, 1840);
		max-width: em(269, 20);
	}
	
	&__menu {
		color: var(--color-black);
	}

	&--state {
		&_transparent {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			
			&:not(.fixed) {
				background-color: transparent;
				border-color: transparent;
			}
		}
	}

	@include media(md, min-width) {
		&__right {
			margin-left: auto;
		}

		&__burger {
			flex-grow: 1;
			margin-right: 0;
		}

		&__toggle-burger {
			display: none;
		}
	}

	@include media(xl) {
		font-size: 18px;
	}

	@include media(lg) {
		font-size: 16px;
	}

	@include media(md) {
		padding: 16px 0;

		&__row {
			justify-content: space-between;
		}

		&__right {
			order: -1;
		}

		&__burger {
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: calc(100vh - var(--header-height));
			opacity: 0;
			pointer-events: none;
			background: rgba(0, 0, 0, 0.14);
			transition: all $duration;

			&.open {
				opacity: 1;
				pointer-events: all;
			}

			&-content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 24px;
				background-color: var(--color-bg);
				box-shadow: inset 0px 47px 47px -47px rgba(0, 0, 0, 0.05);
				overflow: auto;

				> * {
					margin-bottom: 30px;

					&:last-child {
						margin-top: 0;
					}
				}
			}
		}
	}

	@include media(sm) {
		padding: 14px 0 20px;
		
		&__logo {
			max-width: 151px;
		}
	}
}