<header {% include "@/_default.twig" with {
	_default: {
		id: header.id,
		default_class: "header",
		class: header.class,
		params: header.params,
		params_custom: header.params_custom,
		data: header.data
	}
} %}>
	<div class="header__container container container--xxl">
		<div class="header__row">
			<!-- logo -->
			<a href="/" class="header__logo logo">
				<img width="269" height="47" src="./assets/img/logo.png" alt="Logo firmy Biz Partner">
			</a>
			<!-- burger -->
			<div id="header__burger" class="header__burger">
				<div class="header__burger-content">
					<div class="header__row">
						<!-- navigaion -->
						{% include "^/menu.twig" with {
							menu: {
								class: ["header__menu"]
							}|merge(menu|default({}))
						} %}
						<div class="header__right">
							<div class="header__row">
								<a class="item" href="tel:+48733755322">
									<span class="item__icon icon">
										<svg aria-hidden="true">
											<use xlink:href="assets/img/icons/sprite/sprite.svg#phone"></use>
										</svg>
									</span>
									<span class="item__value">+48 733 755 322</span>
								</a>
								<div class="btns">
									<div class="btns__list flex-nowrap">
										<a class="link-4 color-gray active" href="#">PL</a>
										<a class="link-4 color-gray" href="#">EN</a>
										<a class="link-4 color-gray" href="#">RU</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- toggler burger -->
			<button class="js-toggle-burger header__toggle-burger" aria-expanded="false" aria-controls="header__burger" aria-label="Switching the mobile menu display"> 
				<span>Menu</span>
				<span class="hamburger">
					<span class="hamburger__inner">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</span>
			</button>
		</div>
	</div>
</header>